* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a5d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-family: 'American Typewriter', serif;
    font-weight: 700;
    font-size: 36px;
    color: #0a003a;
}

#task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

#priority-select {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
}

#add-task-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li.low {
    background-color: #b2dfb2;
}

li.medium {
    background-color: #ffff99;
}

li.high {
    background-color: #ff9999;
}

li span {
    margin-right: 10px;
}

li .edit-input{
    display: none;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

li .edit-priority-select {
    display: none;
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
}

li .edit-save-btn {
    display: none;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

li .edit-save-btn:hover {
    background-color: #1976d2;
}

li .task-text {
    flex: 1;
    word-wrap: break-word;
}

li .task-actions {
    display: flex;
    align-items: center;
}

li .priority {
    display: none;
}

li .edit-priority-select {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    display: none;
}

li .edit-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}

li .edit-btn:hover {
    background-color: #356ac3;
}

li .delete-btn {
    background-color: #ff4f4f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

li .delete-btn:hover {
    background-color: #d63b3b;
}

